<form name="cartForm" ng-submit="setOrder($event)" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>Koszyk</h1>

        <div ng-if="!cart.length" class="alert alert-info">
          Koszyk jest pusty.
        </div>

        <div ng-if="cart.length">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>Nazwa</td>
                <td>Waga</td>
                <td>Cena</td>
                <td>Ilość</td>
                <td>Razem</td>
                <td>Usuń</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in cart">
                <td>{{item.name}}</td>
                <td>{{item.weight}}</td>
                <td>
                  <div class="form-group" ng-class="{ 'has-error' :
                  cartForm.input_{{$index}}.$error.required ||
                  cartForm.input_{{$index}}.$error.number ||
                  cartForm.input_{{$index}}.$error.max ||
                  cartForm.input_{{$index}}.$error.min }">
                    <input name="input_{{$index}}" type="number" class="form-control" ng-model="item.qty" min="1" max="20" style="width:75px" required/>
                  </div>
                  <span class="text-danger" ng-show="cartForm.input_{{$index}}.$error.required">Podaj ilość</span>
                  <span class="text-danger" ng-show="cartForm.input_{{$index}}.$error.number">Tylko liczby</span>
                  <span class="text-danger" ng-show="cartForm.input_{{$index}}.$error.max">Zamówienie hurtowe</span>
                  <span class="text-danger" ng-show="cartForm.input_{{$index}}.$error.min">Wprowadź poprawną ilość produktu</span>
                </td>
                <td>{{item.price | number: 2 }} zł</td>
                <td><strong>{{item.price * item.qty | number:2 }} zł</strong></td>
                <td><button class="btn btn-danger btn-xs" ng-click="removeItem( $index )"><span class="glyphicon glyphicon-remove"></span></button></td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td><strong>{{total() | number:2 }} zł</strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="upload" value="1">
          <input type="hidden" name="business" value="poczta@adrianbienias.pl">
          <input type="hidden" name="charset" value="utf-8">
          <input type="hidden" name="currency_code" value="PLN">

          <div ng-repeat="item in cart">
            <input type="hidden" name="item_name_{{$index+1}}" value="{{item.name}}">
            <input type="hidden" name="quantity_{{$index+1}}" value="{{item.qty}}">
            <input type="hidden" name="amount_{{$index+1}}" value="{{item.price}}">
          </div>

          <button ng-click="emptyCart()" class="btn btn-danger">Wyczyść koszyk</button>
          <button class="btn btn-primary pull-right" type="submit" ng-disabled="!cartForm.$valid">Zamów i zapłać</button>

        </div>

      </div>
    </div>
  </div>
</form>
